.mainContainer {
  height: 70vh;
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}

.arrayContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrayDiv {
  height: 30vh;
  width: 18vw;
  object-fit: contain;
  overflow: hidden;
  border-radius: 20px;
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.middleDiv {
  height: 40vh;
  z-index: 5;
}

.firstDiv {
  transform: translateX(12vw);
  z-index: 1;
  width: 15vw;
}

.secondDiv {
  transform: translateX(5vw);
  z-index: 2;
  height: 35vh;
  width: 16vw;
}

.fourthDiv {
  transform: translateX(-5vw);
  z-index: 2;
  height: 35vh;
  width: 16vw;
}

.fifthDiv {
  transform: translateX(-12vw);
  z-index: 1;
  width: 15vw;
}

.arrayDiv:hover {
  border: 5px solid black;
}

#popUpModal {
  position: fixed;
  top: 15vh;
  width: 30vw;
  height: 70vh;
  z-index: 100;
  /* background-color: black; */
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

.hidePop {
  display: none;
}

.showPop {
  display: block;
}

.closePopBtn {
  color: red;
  position: absolute;
  right: 1vw;
  top: 1vh;
  font-size: 2.7vh;
}

.closePopBtn:hover {
  cursor: pointer;
  color: black;
}

.carouselImage {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#carouselIndicatorsContainer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.indicator:hover {
  transform: scale(1.1);
  color: red;
}

.buttonContainer {
  width: 40vw;
  border: 4px solid black;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

::file-selector-button:hover,
.addImgBtn:hover {
  color: red;
  background-color: white;
  border: black;
}

::file-selector-button,
.addImgBtn {
  background-color: black;
  max-height: 5vh;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;
  text-align: center;
  font-weight: 500;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

@media (max-width: 500px) {
  .mainContainer {
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    gap: 3vh;
  }

  .arrayContainer {
    gap: 3vw;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }

  .controlBtn {
    display: none;
  }

  .firstDiv {
    transform: translateX(0);
  }

  .secondDiv {
    transform: translateX(0);
  }

  .fourthDiv {
    transform: translateX(0);
  }

  .fifthDiv {
    transform: translateX(0);
  }
  .arrayDiv {
    height: 50vh;
    width: 80vw;
    z-index: 5;
    user-select: none;
  }

  .buttonContainer {
    width: 80vw;
    margin-bottom: 2vh;
  }

  #imageAccept {
    width: 50vw;
  }

  .showPop {
    display: none;
  }
}
